<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="ru.itsjava.services.impl.IOServiceImpl"/>

    <bean id="coffeeService" class="ru.itsjava.services.impl.CoffeeServiceImpl">
        <constructor-arg ref="ioService"/>
    </bean>
</beans>